.button {
    height: 2.5rem;
    width: 89px;
    border-radius: 8px;
}
    
    & .assinar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--pink-dark);
        font: var(--button);
        color: var(--text-title);
    }
    & .mensal {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue-dark);
        font: var(--button);
        color: var(--text-title);
        width: 100%;
    }

