.buy {
    margin-top: 108px;
    height: 1000px;

    & .titlesign {
        text-align: center;

        &>h2 {
            font: var(--body-lg-bold);
        }
    }

    & .cards {
        padding-top: 3rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: "vazio card1 card2 card3";
        column-gap: 1rem;
        align-items: center;

        & .card {
            display: grid;
            margin-inline: auto;
            padding: 2rem;
            background-color: var(--shape-base);
            width: 272px;
            height: 400px;
            border: 1px solid var(--shape-stroke);
            border-radius: 24px;

            & .valores {
                & h3 {
                    font: var(--title-xs);
                    color: var(--blue-light);
                    padding-bottom: 24px;
                }

                & .price-month {
                    font: var(--title-md);
                }

                & .diminute {
                    font: var(--title-xs);
                }

                & .price-anual {
                    font: var(--body-sm-reg);
                    color: var(--text-label);
                }
            }

            & .bonus {
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                margin-top: auto;

                & .bs {
                    display: flex;
                    column-gap: .5rem;

                    & img[alt="star"] {
                        width: 14px;
                        height: 14px;
                    }

                    & .description {
                        color: var(--text-label);
                        font: var(--body-xs-reg);
                        text-wrap: nowrap;
                    }
                }
            }
        }

        & .card.mensal {
            position: relative;
            left: 20%;
            grid-area: card1;
        }
            & .card.semestral {
                /* position: relative; */
                left: 50%;
                grid-area: card2;
            }
    
            & .card.anual {
                /* position: relative; */
                left: 50%;
                grid-area: card3;
            }
        }
    }

    @media (width >=1440px) {
    .buy {
        & .titlesign {
            &>h2 {
                font: var(--title-sm);
            }
        }

        & h2 {
            font: var(--title-sm);
        }

        & .cards {
            padding-top: 138px;

            & .card {
                width: 288px;
                height: 416px;
                position: relative;
            }

            & .card.mensal {
                top: 10%;
                left: 15%;
                rotate: -8deg;
                background-color: rgba(0, 15, 31, 0.459);
            }

            & .card.semestral {
                left: -20%;
            }

            & .card.anual {
                top: 10%;
                left: -55%;
                rotate: 8deg;
                background-color: rgba(0, 15, 31, 0.459);
                z-index: -1;
            }
        }
    }
}