.buy {
    margin-top: 108px;
    height: 712px;

    & .titlesign {
        text-align: center;

        &>h2 {
            font: var(--body-lg-bold);
        }
    }

    & .cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-top: 3rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: "card1 card2 card3";
        column-gap: 1rem;
        align-items: baseline;

        &::-webkit-scrollbar {
            display: none;
        }

        .card:first-child {
            margin-left: calc((100% - 40%) / 2);
        }

        .card:nth-child(2) {
            margin-left: calc((100% - 40%) / 2);
        }

        .card:nth-child(3) {
            margin-left: calc((100% - 40%) / 2);
        }

        & .card {
            display: grid;
            margin-inline: auto;
            padding: 2rem;
            background-color: var(--shape-base);
            width: 272px;
            /* min-width: 80%; */
            height: 400px;
            border: 1px solid var(--shape-stroke);
            border-radius: 24px;
            scroll-snap-align: center;

            & .valores {
                & h3 {
                    font: var(--title-xs);
                    color: var(--blue-light);
                    padding-bottom: 24px;
                }

                & .price-month {
                    font: var(--title-md);
                }

                & .diminute {
                    font: var(--title-xs);
                }

                & .price-anual {
                    font: var(--body-sm-reg);
                    color: var(--text-label);
                }
            }

            & .bonus {
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                margin-top: auto;

                & .bs {
                    display: flex;
                    column-gap: .5rem;

                    & img[alt="star"] {
                        width: 14px;
                        height: 14px;
                    }

                    & .description {
                        color: var(--text-label);
                        font: var(--body-xs-reg);
                        text-wrap: nowrap;
                    }
                }
            }
        }

        & .card.mensall {
            grid-area: card1;
        }

        & .bunny {
            & .card.semestral {
                grid-area: card2;
            }
        }

        & .card.anual {
            grid-area: card3;
        }
    }
}

@media (width >=1440px) {
    .buy {
        height: 834px;

        & .titlesign {
            &>h2 {
                font: var(--title-sm);
            }
        }

        & h2 {
            font: var(--title-sm);
        }

        & .cards {
            padding-top: 128px;
            height: 610px;

            & .card {
                width: 288px;
                height: 416px;
                position: relative;
            }

            & .card.mensall {
                left: 53%;
                rotate: -8deg;
                background-color: rgba(0, 15, 31, 0.459);
            }

            & .bunny {
                img[src*="Bunny"] {
                    position: relative;
                    top: -95px;
                    left: 80%;
                }
            }
            & .card.semestral {
                position: relative;
                top: -100px;
                left: 33%;

                & .valores {
                    & h3 {
                        color: var(--pink-light);
                    }
                }

                & .bonus {
                    & .bs {
                        img {
                            filter: invert(35%) sepia(39%) saturate(1068%) hue-rotate(252deg) brightness(90%) contrast(94%);
                        }
                    }

                    & div.button {
                        background-color: var(--pink-base);
                    }
                }
            }

            & .card.anual {
                left: 14%;
                rotate: 8deg;
                background-color: rgba(0, 15, 31, 0.459);
                z-index: -1;
            }
            
            & .supmaior {
                width: 26px;
                height: 26px;
                position: relative;
                right: 850px;
                top: -30px;
                filter: invert(35%) sepia(39%) saturate(1068%) hue-rotate(252deg) brightness(90%) contrast(94%);
            }
            & .supmenor {
                width: 13px;
                height: 13px;
                position: relative;
                right: 960px;
                top: -0px;
                filter: invert(35%) sepia(39%) saturate(1068%) hue-rotate(252deg) brightness(90%) contrast(94%);
            }
            & .botmaior {
                width: 26px;
                height: 26px;
                position: relative;
                right: 100px;
                top: 420px;
                filter: invert(35%) sepia(39%) saturate(1068%) hue-rotate(252deg) brightness(90%) contrast(94%);
            }
            & .botmenor {
                width: 13px;
                height: 13px;
                position: relative;
                right: 230px;
                top: 425px;
                filter: invert(35%) sepia(39%) saturate(1068%) hue-rotate(252deg) brightness(90%) contrast(94%);
            }
        }
    }
}