footer {
    &>img.mobile-only {
        width: 100%;
        height: 455px;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    & .lastlogo {
        display: flex;
        justify-content: center;
        padding-top: 98px;
        padding-bottom: 12px;

        &>img {
            width: 158px;
            height: 40px;
        }
    }

    & .apps {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding-inline: 2rem;
        padding-bottom: 40px;

        &>img {
            width: 40px;
            height: 40px;
        }
    }

    & .links {
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;

        & h4 {
            font: var(--title-xs);
        }

        & .conteudo {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 16px;

            & a {
                font: var(--link);
                color: var(--blue-light);
            }
        }

        & .Ajuda {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 16px;

            & a {
                font: var(--link);
                color: var(--blue-light);
            }
        }
    }
}

@media (width >=1440px) {
    footer {
        &>img.desktop-only {
            width: 1440px;
            height: 415px;
            position: absolute;
            object-fit: cover;
            z-index: -1;
        }

        & .infos {
            padding-inline: 160px;
            display: flex;
            justify-content: space-between;
        }

        & .conj1 {
            width: 264px;
            height: 130px;
            & .lastlogo {
                padding-top: 170px;
                padding-bottom: 12px;
                width: 264px;
                 &>img {
                    width: 264px;
                    height: 66px;
                }
            }
            & .apps {
                padding-top: 12px;
                display: flex;
                justify-content: center;
                gap: 16px;
                padding-inline: 2rem;
                padding-bottom: 40px;
                width: 264px;
                height: 40px;
                &>img {
                    width: 40px;
                    height: 40px;
                }
            }
        }



        & .links {
            padding-top: 170px;
            display: flex;
            justify-content: space-between;
            column-gap: 56px;
            & h4 {
                font: var(--title-xs);
                padding-bottom: 20px;
            }

            & .conteudo {
                display: flex;
                flex-direction: column;
                gap: 20px;

                & a {
                    font: var(--link);
                    color: var(--blue-light);
                }
            }

            & .Ajuda {
                display: flex;
                flex-direction: column;
                gap: 20px;

                & a {
                    font: var(--link);
                    color: var(--blue-light);
                }
            }
        }
    }
}