* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;
    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;
    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;
    --ff-main: "Raleway", sans-serif;
    --title-lg: 700 3rem var(--ff-main);
    --title-md: 700 2.5rem var(--ff-main);
    --title-sm: 700 2rem var(--ff-main);
    --title-xs: 700 1rem var(--ff-main);
    --subtitle: 600 2rem/2 var(--ff-main);
    --body-lg-reg: 400 1.25rem/1.4 var(--ff-main);
    --body-lg-bold: 700 1.25rem/1.4 var(--ff-main);
    --body-md-reg: 400 1rem/1.4 var(--ff-main);
    --body-md-bold: 700 1rem/1.4 var(--ff-main);
    --body-sm-reg: 400 0.875rem/1.4 var(--ff-main);
    --body-sm-bold: 700 0.875rem/1.4 var(--ff-main);
    --body-xs-reg: 400 0.75rem/1.4 var(--ff-main);
    --body-xs-bold: 700 0.75rem/1.4 var(--ff-main);
    --button: 700 0.875rem var(--ff-main);
    --link: 600 0.875rem var(--ff-main);
    --tag: 600 0.625rem var(--ff-main);
}

.desktop-only {
    display: none;
}

.container {
    max-width: 575px;
    width: 100%;
    margin-inline: auto;
}

body {
    background-color: var(--shape-background);
    color: var(--text-body);

}

.px-1 {
    padding-inline: 1.25rem;
}

.px-2 {
    padding-inline: 2rem;
}

strong {
    text-decoration: none;
    font-weight: bold;
    color: var(--blue-light);
}

a {
    text-decoration: none;
}
@media (width >=1440px) {
    .desktop-only {
        display: initial;
    }

    .container {
        max-width: 1440px;
    }

    .mobile-only {
        display: none;
    }

    .px-1 {
        padding-inline: 10rem;
    }

    .px-2 {
        padding-inline: 10rem;
    }
}