.hero {
    max-width: 575px;
    width: 100%;
    height: 464px;
    margin-inline: auto;
    position: relative;
    /* background-color: var(--shape-background); */
    z-index: 0;
    & img[src*="hero-background"] {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    & header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-top: 1.25rem;
    }
}

@media (width >=1440px) {
    .hero {
        max-width: 1440px;
        height: 948px;

        & header {
            padding-top: 3.5rem;
        }
    }
}