.hero {
    height: 464px;
    position: relative;
    z-index: 0;


    & img[src*="hero-background"] {
        width: 100%;
        height: 464px;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    & header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-top: 1.25rem;
    }

    & .hero-text {
        text-align: center;

        & h1 {
            font: var(--title-sm);
            padding-top: 3rem;
            padding-bottom: 1rem;
        }

        & p {
            font: var(--body-sm-reg);
        }
    }
}


@media (width >=1440px) {
    .hero {
        max-width: 1440px;
        height: 948px;

        & header {
            padding-top: 3.5rem;
        }

        & img[src*="hero-background"] {
            height: 948px;
        }

        & .hero-text {
            padding: 0;
            width: 656px;
            margin-inline: auto;

            & h1 {
                font: var(--title-lg);
                padding-top: 5rem;
                padding-bottom: 1.5rem;
            }

            & p {
                font: var(--body-lg-reg);
            }
        }
    }
}