.second {
    margin-top: 2rem;
    position: relative;
    display: flex;
    position: relative;
    height: 251px;

    span.anim {
        opacity: .5;
    }

    &:hover .img,
    &:hover .anim {
        animation: appear 1s both;
    }

    &:hover .img:nth-child(1) {
        animation-delay: 1s;
    }

    &:hover .img:nth-child(2) {
        animation-delay: 2s;
    }

    &:hover .img:nth-child(3) {
        animation-delay: 3s;
    }

    &:hover .anim:nth-child(1) {
        animation-delay: 1s;
    }

    &:hover .anim:nth-child(2) {
        animation-delay: 2s;
    }

    &:hover .anim:nth-child(3) {
        animation-delay: 3s;
    }

    & img[alt=a] {
        position: absolute;
        top: 2rem;
        right: 74px;
        margin-inline: auto;
        width: 2.5rem;
        height: 2.5rem;
        rotate: 15deg;
        opacity: 0;
    }


    & img[alt=b] {
        position: absolute;
        top: 170px;
        right: 20px;
        width: 2.5rem;
        height: 2.5rem;
        rotate: 15deg;
        opacity: 0
    }

    & img[alt=c] {
        position: absolute;
        top: 157px;
        left: 44px;
        width: 2rem;
        height: 2rem;
        rotate: -30deg;
        opacity: 0;

    }


    & p {
        margin: auto;
        font: var(--body-md-reg);
        text-align: center;
    }
}

@keyframes appear {
    to {
        transform: translateZ(0);
        opacity: 1;
    }
}

@media (width >=1440px) {
    .second {
        margin-top: 96px;
        height: 400px;

        & img[alt=a] {
            top: 8.26px;
            left: 0px;
            width: 5.5rem;
            height: 5.5rem;
            rotate: 15deg;
        }

        & img[alt=b] {
            top: 236px;
            right: 118px;
            width: 4.5rem;
            height: 4.5rem;
            rotate: -14deg;
        }

        & img[alt=c] {
            top: 235px;
            left: 153px;
            width: 5rem;
            height: 5rem;
            rotate: 99deg;
        }

        & p {
            font: var(--subtitle);
        }
    }
}