.third {
    align-items: center;
    margin-top: 104px;

    & .mensal-kit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .875rem;
        font: var(--body-md-bold);
        padding-bottom: .5rem;

        img[alt="estrela"] {
            width: 20px;
            height: 20px;
        }
    }

    & .surprise {
        text-align: center;
        font: var(--body-sm-reg);
    }

    & .animation-book {
        padding-top: 64px;
        margin-bottom: 5.5rem;

        &:hover .anim-1 {
            animation: showtl .5s both;
        }

        &:hover img[alt="mark1"] {
            animation: showtr .5s both;
        }

        &:hover img[alt="mark2"] {
            animation: showtrmark2 .5s both;
        }

        &:hover .anim-3 {
            animation: showll .5s both;
        }
        &:hover .anim-2 {
            animation: showanim2 .5s both;
        }
        

        & .anim-1 {
            /* ORIGINAL
            display: flex;
            flex-direction: column;
            position: relative;
             */
            display: flex;
            flex-direction: column;
            position: relative;
            /* left: 195px;
            top: 20px; */
            transform: translate(125px, 20px);


            & span {
                position: absolute;
                left: 5%;
                font: var(--tag);
            }

            &>img {
                margin-top: 21px;
                position: absolute;
                left: 20%;
                width: 58px;
                height: 10px;
            }
        }

        & .books {
            display: flex;
            justify-content: center;
            position: relative;

            img[alt="livro"] {
                width: 157px;
                height: 207px;
            }

            img[alt="mark1"] {
                position: absolute;
                /* left: 65%;
                top: -10%; */
                width: 58px;
                height: 180px;
                z-index: -1;
                transform: translateY(15px);
                /* transform: rotate(11deg); */
            }

            img[alt="mark2"] {
                position: absolute;
                /* top: 15px;
                right: 125px; */
                width: 58px;
                height: 180px;
                z-index: -2;
                rotate: 20deg;
                transform: translate(15px);
            }
        }

        & .anim-2 {
            display: flex;
            justify-content: center;
            position: relative;
            transform: translate(110px, -50px);
            z-index: -1;
            & span {
                position: absolute;
                left: 10%;
                top: -150%;
                font: var(--tag);
            }

            &>img[src*="linha"] {
                position: relative;
                left: -18%;
                bottom: 105px;
            }

            & img[src*="pin"] {
                position: relative;
                right: 25%;
                bottom: 50px;
                width: 75px;
                height: 75px;
                rotate: -6deg;
                z-index: -1;
            }
        }

        & .anim-3 {
            position: relative;
            transform: translate(-35px, -105px);
            z-index: -1;
            & span {
                position: absolute;
                right: 25%;
                top: -70%;
                font: var(--tag);
            }

            &>img[src*="linha"] {
                position: relative;
                left: 64%;
                bottom: 100px;
            }
        }
    }
}

@keyframes showtl {
    0% {
        transform: translateY(20px) translateX(145px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes showtr {
    0% {
        transform: translateY(15px) translateX(0px);
    }

    100% {
        transform: translateY(-20%) rotate(11deg) translateX(90px);
    }
}
@keyframes showtrmark2 {
    0% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(-25%) rotate(8deg) translateX(125px);
    }
}

@keyframes showll {
    0% {
        transform: translateY(-100px) translateX(-35px);
    }

    100% {
        transform: translateY(10px) translateX(0);
    }
}

@keyframes showanim2 {
    0% {
        transform: translateY(-20px) translateX(50px);
    }

    100% {
        transform: translateY(10px) translateX(-10px);
    }
}



@media (width >=1440px) {
    .third {
        margin-top: 235px;

        & .mensal-kit {
            font: var(--title-sm);
            gap: 1.25rem;

            img[alt="estrela"] {
                width: 2rem;
                height: 2rem;
            }
        }

        & .surprise {
            font: var(--body-md-reg);
        }

        & .animation-book {
            padding-top: 96px;
            margin-bottom: 18.625rem;

            & .anim-1 {
                transform: translate(330px, 25px);
                & span {
                    left: 200px;
                    font: var(--body-md-reg);
                }

                &>img {
                    left: 22%;
                    top: 20px;
                    width: 172px;
                    height: 30px;
                }
            }

            & .books {
                img[alt="livro"] {
                    width: 467px;
                    height: 617px;
                }

                img[alt="mark1"] {
                    /* left: 62%;
                    top: -9%; */
                    width: 172px;
                    height: 536px;
                    transform: translate(-60px, 60px);
                }

                img[alt="mark2"] {
                    /* left: 69%;
                    top: 5%; */
                    width: 172px;
                    height: 536px;
                    transform: translate(0, 15px);
                }
            }

            & .anim-2 {
                transform: translate(350px, -100px);
                /* position: absolute; */
                & span {
                    /* top: -282px;
                    left: 250px; */
                    transform: translate(100px,100px);
                    font: var(--body-md-reg);
                }

                &>img[alt="arroz"] {
                    position: absolute;
                    left: 21%;
                    top: -99%;
                }

                &>img[src*="pin"] {
                    right: 18%;
                    bottom: 170px;
                    rotate: -6deg;
                    z-index: -1;
                    width: 222px;
                    height: 254px;
                }
            }

            & .anim-3 {
                transform: translate(-200px, -300px);
                & span {
                    top: -182px;
                    right: 355px;
                    font: var(--body-md-reg);
                }

                &>img[alt="feijao"] {
                    position: absolute;
                    right: 305px;
                    bottom: 190px;
                }
            }
        }
    }
}
@keyframes showtl {
    0% {
        transform: translateY(20px) translateX(330px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes showtr {
    0% {
        transform: translateY(15px) translateX(0px);
    }

    100% {
        transform: translateY(-30%) rotate(11deg) translateX(270px);
    }
}
@keyframes showtrmark2 {
    0% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(-25%) rotate(3deg) translateX(345px);
    }
}

@keyframes showll {
    0% {
        transform: translateY(-100px) translateX(-150px);
    }

    100% {
        transform: translateY(10px) translateX(30px);
    }
}

@keyframes showanim2 {
    0% {
        transform: translateY(-90px) translateX(250px);
    }

    100% {
        transform: translateY(10px) translateX(-10px);
    }
}
